{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
		<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">

		{% block title %}
		<title>Template</title>
		{% endblock %}
		<!-- Font import -->
		<style>
            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
        </style>
	</head>

	<body>
		<!-- Navbar goes here -->
        <header class="ml-4 mr-4">
            <nav class="text-lg text-gray-700 bg-white pl-8 pr-8 flow-root">
				<div class="flex flex-wrap items-center justify-between  md:gap-auto md:py-0">

					<!-- Logo -->
					<div class="text-center">
						<div class="md:p-4 py-2 text-2xl">
							<a class="font-bold" href="/">Day<span class="text-cyan-500">Break</span></a>
						</div>
					</div>
					

					<!-- Hamburger Icon -->
					<svg xmlns="http://www.w3.org/2000/svg" id="menu-button" class="h-6 w-6 cursor-pointer md:hidden block" fill="none" viewBox="0 0 24 24" stroke="black" stroke-width="2">
						<path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
					</svg>

					<!-- Navigation items -->
				
					<div class="hidden md:flex w-full md:w-auto md:items-center" id="menu">
						<div class="">
							<ul class="md:text-base flex flex-col md:flex-row text-black mt-4 p-4 md:space-x-12 md:pt-0">
								<li>
									<a class="py-2 block font-semibold" href="#">Spotlight</a>
								</li>
								<li>
									<a class="py-2 block font-semibold" href="#">Podcast</a>
								</li>
								<li>
									<a class="py-2 block font-semibold" href="#">Shop</a>
								</li>
								<li>
									<a class="py-2 block font-semibold" href="#">Routes</a>
								</li>
							</ul>
						</div>
						
						<!-- Subscribe button -->
						<div class="md:ml-12">
							<a class="flex flex-wrap font-normal items-center justify-center px-4 md:px-4 py-2 block hover:shadow-md bg-cyan-100 text-cyan-900 border-1 rounded-full" href="form.html">
								{% load static %}
								<img class="h-7 w-6 items-center p-0 m-0" src="{% static 'img/plane_icon.png' %}" alt="plane icon"/>Subscribe
							</a>
						</div>
						
					</div>
					
				</div>
            </nav>
        </header>
		
		{% block content %}
        <!-- This is where other content goes -->
    	{% endblock %}

		<!-- Footer of the page -->
		<footer>
			<div>
				<div>
					<ul class="flex flex-wrap gap-8 justify-center text-sm">
						<li>
							DayBreak &copy; 2022
						</li>

						<li>
							Follow us
						</li>

						<li>
							Terms of service
						</li>

						<li>
							About us
						</li>

						<li>
							Careers
						</li>
						
						<li>
							Privacy
						</li>

						<li>
							FAQ
						</li>
					</ul>

				</div>

			</div>
		</footer>
	</body>

	<script>
        const button = document.querySelector('#menu-button'); // Hamburger Icon
        const menu = document.querySelector('#menu'); // Menu

        button.addEventListener('click', () => {
        menu.classList.toggle('hidden');
        });
    </script>

</html>
